name: Publish Action

on:
  push:
    branches:
      - main
    paths:
      - 'action.yml'
      - 'Dockerfile'
      - 'entrypoint.sh'

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 必须开启写入权限
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0' # 必须拉取完整历史才能计算标签

      # 修正点：使用正确的社区 Action
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch